<div class="main">
    <div class="card big" <% unless signed_in? %> style="margin-bottom: 2rem;" <% end %>>
        <h1>Daydream Project Submission & Voting</h1>
        <hr>
        <div class="shirt-section">
            <div class="shirt-content">
                <p class="step">Submit what you made this weekend and get your shirt!</p>
                <p class="details">You'll need an Itch.io URL and a GitHub URL to submit. <a class="simple-link" href="#">See details</a></p>
            </div>
            <div class="shirt-image">
                <img src="/shirt.png" alt="Daydream t-shirt">
            </div>
        </div>
        <p class="step">Vote for your favorite projects at your Daydream to award prizes!</p>
        <p class="details">Criteria: Creativity, Enjoyment, Theme, Overall Quality</p>
        <p class="details">Theme: Sacrifices Must be Made</p>
        
        <div class="divider"></div>
        
        <% if signed_in? %>
            <p>Welcome back, <strong><%= current_user.profile_datum&.first_name %></strong>!</p>
            <%= button_to "Sign Out", session_path(current_user), method: :delete, data: { turbo_frame: "_top" } %>
        <% else %>
            <p class="email-caption">Enter your email to start:</p>
            <p>(This will send you a magic link; please use the same email you used for the rest of Daydream)</p>
        
            <%= form_with url: sessions_path, method: :post, local: true, class: "email-form" do |form| %>
                <%= form.email_field :email, placeholder: "fiona.hacksworth@hackclub.com", class: "email-input", required: true %>
                <button type="submit" class="submit-button">
                    <img src="submit.svg" alt="Go">
                </button>
            <% end %>
        <% end %>

    </div>

    <% if @projects&.any? %>
        <% @projects.each do |project| %>
            <div class="card">
                <h3><%= project.title %></h3>
                <p><%= project.description %></p>
                <div class="project-actions">
                    <%= link_to "Manage project", edit_project_path(project) %>
                </div>
            </div>
        <% end %>
    <% end %>
        
</div>