<% @progress = :your_info %>

<div class="main">
  <div class="card big" style="margin-bottom: 5rem">

    <h1>Confirm Your Info</h1>

    <%= form_with model: @profile_datum, url: profile_path, method: :patch, local: true, data: { turbo: false } do |form| %>
      <% if @profile_datum.errors.any? %>
        <div class="error">
          <h2><%= pluralize(@profile_datum.errors.count, "error") %> prohibited your profile from being saved:</h2>
          <ul>
            <% @profile_datum.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="standard-form"> 
        <hr class="wide">

        <div>
          <%= form.label :first_name %>
          <%= form.text_field :first_name %>
        </div>

        <div>
          <%= form.label :last_name %>
          <%= form.text_field :last_name %>
        </div>

        <div>
          <%= form.label :dob, "Date of Birth" %>
          <%= form.date_field :dob %>
        </div>

        <hr class="wide">

        <div class="wide">
          <%= form.label :address_line_1, "Address Line 1" %>
          <%= form.text_field :address_line_1 %>
        </div>

        <div class="wide">
          <%= form.label :address_line_2, "Address Line 2" %>
          <%= form.text_field :address_line_2 %>
        </div>

        <div class="thin">
          <%= form.label :address_city, "City" %>
          <%= form.text_field :address_city %>
        </div>

        <div class="thin">
          <%= form.label :address_state, "State" %>
          <%= form.text_field :address_state %>
        </div>

        <div class="thin">
          <%= form.label :address_zip_code, "Zip Code" %>
          <%= form.text_field :address_zip_code %>
        </div>

        <div class="wide">
          <%= form.label :address_country, "Country" %>
          <%= form.text_field :address_country %>
        </div>

        <hr class="wide">

        <!-- had Amp fix up the labels here so you can click the labels to check
          the boxes, but hopefully the changes it made don't break anything -->

        <div class="wide">
          <div class="checkbox-option">
            <%= form.check_box :honesty_policy_agreement, {}, "true", "false" %>
            <%= label_tag "profile_datum_honesty_policy_agreement", "I'm currently at Daydream and I agree to Hack Club's honesty policy" %>
          </div>
        </div>

        <div
          class="submit-wrapper"
        >
          <%= form.submit "Submit", class: "submit-button-elem" %>
          <img
            src="/button-clouds.svg" 
            alt="" 
            class="submit-clouds"
          >
        </div>
      </div>
    <% end %>
  </div>
</div>