<% @progress = :project_info %>

<div class="main">
  <div class="card big">
    <h1>Game Info</h1>

    <%= form_with model: @project, url: project_path, method: :patch, local: true, multipart: true, data: { turbo: false } do |form| %>
      <% if @project.errors.any? %>
        <div class="error>
          <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
          <ul>
            <% @project.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="standard-form">
        <div class="wide">
          <%= form.label :title %>
          <%= form.text_field :title, placeholder: "Game name" %>
        </div>

        <div class="wide">
          <%= form.label :description %>
          <%= form.text_area :description, placeholder: "A brief description of your game" %>
        </div>

        <div class="wide">
          <%= form.label :itchio_url, "Itch.io URL" %>
          <%= form.url_field :itchio_url, placeholder: "https://yourname.itch.io/game-name" %>
        </div>

        <div class="wide">
          <%= form.label :repo_url, "Repository URL" %>
          <%= form.url_field :repo_url, placeholder: "https://github.com/yourname/game-name" %>
        </div>

        <div class="wide">
          <%= form.label :attending_event, "Which Daydream Event is this project for?" %>
          <%= form.collection_select :attending_event_id, Event.order(:name), :id, :name,
              { prompt: "Select an event...", selected: @project.attending_event_id } %>
        </div>

        <div class="wide">
          <%= form.label :image, "Project Image" %>
          <%= form.file_field :image, accept: "image/png,image/jpg,image/jpeg,image/gif,image/webp" %>
        </div>

        <div
          class="submit-wrapper"
        >
          <%= form.submit "Save & Continue", class: "submit-button-elem" %>
          <img
            src="/button-clouds.svg" 
            alt="" 
            class="submit-clouds"
          >
        </div>
      </div>
    <% end %>
  </div>
</div>