<% @progress = :review %>

<div class="main">
  <div class="card big">
    <h1>Review & Submit</h1>

    <% if @project.errors.any? %>
      <div class="error">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
        <ul>
          <% @project.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="card light game-card-wrapper">
      <div class="card light game-card">
        <div class="game-image">
          <% if @project.image.attached? %>
            <%= image_tag @project.image, class: "game-image-cover" %>
          <% end %>
        </div>
        <div class="game-info">
          <h2><%= @project.title %></h2>
          <p><%= @project.description %></p>
          <!--
          <p class="game-byline">
            by 
            <% team_members = @project.users.map(&:email) %>
            <% if team_members.length == 1 %>
              <%= team_members.first %>
            <% elsif team_members.length == 2 %>
              <%= team_members.first %> & <%= team_members.last %>
            <% else %>
              <%= team_members[0..-2].join(", ") %>, & <%= team_members.last %>
            <% end %>
          </p>
          -->
        </div>
      </div>
    </div>

    <div class="external-links">
      <span style="font-weight: bold">Git Repository:</span> <%= link_to @project.itchio_url, @project.itchio_url, target: "_blank", class: "pink-link" %>
      <br>
      <span style="font-weight: bold">Itch.io Page:</span> <%= link_to @project.repo_url, @project.repo_url, target: "_blank", class: "pink-link" %>
    </div>

    <div class="team-members-section">
      <h3>Team Members</h3>
      <div class="members-grid">
        <% @project.users.each do |user| %>
          <div class="card light member-card">
            <div class="member-info">
              <div class="member-email"><strong><%= user.email %></strong></div>
              <div class="member-role"><%= user.creator_positions.find_by(project: @project).role.humanize %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>


    <p class="review-warning">Make sure this looks right, because once you press submit there's no going back!</p>
    <p class="review-shirt-notice">Once you submit, you'll be able to claim your T-shirt from the organizers!</p>

    <div class="wide">
      <div class="checkbox-option" style="margin-inline: auto; width: max-content; display: flex; align-items: start; justify-items: start; gap: 0.5rem">
        <%= check_box_tag :attendance_verification, "true", false, { required: true } %>
        <div style="max-width: 400px">
        <%= label_tag "attendance_verification", "I'm currently in-person at #{@project.attending_event.name.titleize} and I commit to being truthful in all information I provide." %>
        </div>
      </div>
    </div>

    <% if @project.draft? %>
      <div class="review-buttons">
        <div class="submit-wrapper review-button">
          <%= link_to "Go back", edit_project_path, class: "submit-button-elem" %>
          <img src="/button-clouds.svg" alt="" class="submit-clouds">
        </div>
        
        <div class="submit-wrapper review-button">
          <%= button_to "Submit to #{@project.attending_event.name.titleize}", submit_project_path, class: "submit-button-elem" %>
          <img src="/button-clouds.svg" alt="" class="submit-clouds">
        </div>
      </div>
    <% elsif @project.submitted? %>
      <p>Your project has been submitted. Thank you!</p>
      <p>You can now get your shirt from the organizers. <%= link_to "Continue on to voting", event_vote_path(@project.attending_event.name) %>.</p>
    <% end %>
  </div>
</div>